@model DiarioDigital.Articulo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<h3>Deseas eliminar la publicacion?</h3>
<br />
<br />
<div class="alert alert-warning" role="alert">
    <div class="container">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row justify-content-md-center" style="padding-left:100px">

                <div class="col-md-4 ">

                    <label class="btn btn-danger" for="x" style="color:white">

                        <input type="submit" value="Borrar" id="x" hidden/>
                        <i class="bi bi-x-square" style="padding-right:5px; color:white"></i> Borrar
                    </label>
                </div>

                <div class="col col-md-4 btn btn-dark bi bi-house-fill"> @Html.ActionLink("Volver al inicio", "Index","Articulo",null, new {style= "text-decoration:none; color:white; padding-left:2px" })</div>

            </div>
        }


    </div>
</div>
