
@model DiarioDigital.Comentarios

@{


    Layout = null;

}



@using (Html.BeginForm("BorrarComent", "Comentarios", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Idcoment)
    @Html.HiddenFor(model => model.postID)


    <label class="col-md-1 col-2 bi bi-trash zoom" style="font-size:20px; cursor:pointer; padding:0;color: red">

        <input type="submit" value="BorrarComent" name="borrado" style="opacity:0" />

        </label>

   }





