
@model DiarioDigital.Subcomentarios

@{


    Layout = null;

}



@using (Html.BeginForm("Borrarsub", "Comentarios", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <label class="btn btn-danger" for="c" style="color:white; font-size:13px">

        <input type="submit" value="Borrar" id="c" hidden />
        <i class="bi bi-x-square" style="padding-right:5px; color:white"></i> Borrar
    </label>

    @Html.TextBoxFor(model => model.IdSubcoment)

}
