@model DiarioDigital.Comentarios

@{


    Layout = null;

}



@using (Html.BeginForm("Delete","Comentarios", FormMethod.Post))
{
    @Html.AntiForgeryToken()

      <label class="btn btn-danger" for="x" style="color:white; font-size:13px">

            <input type="submit" value="Borrar" id="x" hidden />
            <i class="bi bi-x-square" style="padding-right:5px; color:white"></i> Borrar
        </label>
  
}





